@font-face {
	font-family: "caroline";
    src: url('Typo/caroline.otf');
    font-weight: 400;
}
@font-face {
	font-family: "Saudagar";
    src: url('Typo/Saudagar.ttf');
    font-weight: 400;
}
html, body 
{
margin: 0;
padding: 0;
width: 100%;
height: 100%; 

  }
  #illustrationchapitre
  {
      display: flex;
  width:400px ;
      }
#slider
{
display: flex;
width: 100%;
margin-top:80px;
}
h1
{
font-family: caroline;
display:flex;
justify-content: center;
font-size: 50px;
margin: 20px;
}
header
{
display: block;
height: 70px;
}
header ul
{
list-style-type: none;
display: flex;
width: 100%;


}
header li
{
margin: auto;
}
header a
{
font-family: Saudagar;
font-size: 1.3em;
color: black;
text-decoration: none;
}
p
{
    font-family: Saudagar;
 }
 #suite
 {
 text-align: center;
  }
  .chapitres
  {
    display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
  }
  #chapitre-titre-individuel
  {
    font-family: caroline;
    font-size:1.9em;
    display: flex;
    width: 100%;
   margin-top:100px;
    justify-content: center;
   
    }
        #chapitre-titre
        {
        font-family: caroline;
        font-size:1.9em;
        display: block;
        position: relative;
        width: 180px;
       margin:auto;
        }
        #chapitre-text-individuel
         {
        font-family: "Saudagar";
        display: block;
        word-wrap: break-word;
        position: relative;
        width: 90%;
        margin: auto;
        }
        #chapitre-text
        {
        font-family: "Saudagar";
        display: inline-block;
        word-wrap: break-word;
        position: relative;
        width: 400px;
        height: 380px;
        }
        #chaptirenumber
        {
        display: block;
        height: 440px;
        width: 400px;
        margin: 10px;
        padding: 30px;
        border-width:1px; 
        border-style:solid; 
        border-color:black;
        margin-top:90px;
        }
        #chaptirenumber-individuel
         {
               display: block;

         }
        #illustrationchapitre-inv
        {
            display: flex;
            width:100%;
           max-width: 800px;
margin: auto;
     }
     #texte
           {
               display: flex;
             width:100%;
            max-width: 800px;
            margin: auto;
     }
        
#admin
{
display: block;
font-size: 1.3em;
float: right;
margin-right: 50px;
background-color: white;
border:none;
    }
#connection
 {
display: block;
font-size: 0.7em;
margin-top: -10px;
}
.naviguation :hover
{
color: #020202;
border-bottom: 1px solid ;
padding-bottom: 1px;
}
#active
{
color: #797676;
}
h3
{
font-family: Saudagar;
font-size: 1.3em;
display: flex;
 justify-content: space-around;
font-weight : normal;
    }
#content
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#lastchapter
{
display: block;
height: 460px;
top: -420px;
 margin-left :40px;
 font-family: Saudagar;
    width: 400px;
    margin: 10px;
    padding: 30px;
    border-width:1px; 
 border-style:solid; 
 border-color:black;
 overflow: scroll;
}
#description
{
display: block;
height: 460px;
width: 400px;
margin: 10px;
padding: 30px;
border-width:1px; 
border-style:solid; 
border-color:black;
overflow: scroll;
}
#auteurpicture
{
    display: grid;
   width: 600px;
   margin:80px;
    }
#authorstory
{
    display: block;
    height: 345px;
    width: 400px;
    margin: 10px;
    padding: 30px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    margin-top:90px;
    overflow: scroll;
    }
    .presentation
    {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top:80px;
        
    }
#chapitre
{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin-top:80px;
overflow: scroll;
}


.form 
{    display: flex;
    margin: auto;
width:700px; 
height:500px;
margin-top: 70px;
padding: 10px;
border: 1px ;
background-color: black;
z-index: 900;
opacity: 0.65;
border-radius: 10%;
}
h4
{
text-align: center;
}
.info
{
font-weight: bolder;
color: white;
font-family: Saudagar;
}input,textarea 
{
font: 1em ;
width:500px;
height: 25px;
margin-top: 10px;
box-sizing: border-box;
border: 1px solid grey; 
resize:none;
border-radius: 5px;
margin-left: 100Px;
} 
#msg 
{
font: 1em ;
width: 500px;
height: 200px;
box-sizing: border-box;
border: 1px solid grey; 
resize:none;
border-radius: 5px;
justify-content: center;
} 
.send
{
  background-color: #fff;
} 
fieldset
{
border: none;
color: white;
}
label
{
display: inline-block;
width: 80px;
}
legend
{
margin: auto;
font-family: Saudagar;
}
footer
{
display: grid;

background-color:black; 
margin-top:80px;
bottom: 0px;
width: 100%;
}
#resaux
{
position : absolute;
color:black;
border-radius: 100px;
left: 45%;
font-size: 40px;
margin-top: 30px;
margin-left:20%;
}
#insta , #facebook ,#twitter ,
{
font-size: 20px;
}
.piedpage
{
color: white;
padding: 0px;
margin: 0px;
height: 70px;
width: 100%;
}
#baspage
{
margin:auto;
display: flex;
width: 100%;
padding:10px;
 }
 @media screen and (max-width: 756px)
 {
    h1
    {
        font-size: 30px;
    }
    ul
    {
    padding: 0px;
    }
    #chaptirenumber/*,#authorstory,#auteurpicture,#lastchapter,#description,*/
    {

    }
    #authorstory
    {
        width: 300px;
        height:500px;
        }
 #auteurpicture
        {
            width: 300px;
        margin:0px;
            }
            #lastchapter
        {
        width: 300px;
        height:550px;
        }
        #description
        {
            width: 300px;
            height:550px;
            }
            .form
            {
                width: 350px;
                height:500px;
                }

.info
{
font-weight: bolder;
color: white;
font-family: Saudagar;
}input,textarea 
{
font: 1em ;
width:300px;
height: 25px;
margin-top: 10px;
box-sizing: border-box;
border: 1px solid grey; 
resize:none;
border-radius: 5px;
margin-left: auto;
} 
#msg 
{
font: 1em ;
width: 300px;
height: 200px;
box-sizing: border-box;
border: 1px solid grey; 
resize:none;
border-radius: 5px;
justify-content: center;
} 
#resaux
{
position :none;
color:black;
border-radius: 100px;
left: 45%;
font-size: 10px;
margin-top: -50px;
margin-left:0%;
}
}